server:
  port: 8080

spring:
  application:
    name: backend
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

management:
  endpoints:
    web:
      exposure:
        include: health

logging:
  level:
    root: INFO